{% extends "base.html" %}
{% block title_head %}
Cargar Alumno
{% endblock title_head %}
{% block h1_header %}
Cargar alumno
{% endblock h1_header %}

{% block main %}
<form action={% url "cargar_alumno" %} method="POST">
    {% csrf_token %}
    <!--<p>
        Marca:
        <input type="text", placeholder="Marca", name="marca">
    </p>
    <p>
        Modelo:
        <input type="text", placeholder="Modelo", name="modelo">
    </p>-->
    {{formulario}}
    <input type="submit" value="Enviar">
   <!-- <button>Enviar</button>-->
</form>
{% endblock main %}